<html lang='en'>
	<head>
		<meta http-equiv='Content-Type' content='text/html charset=UTF-8' />
	</head>
	<body>
		<div class='body'>
			<div class='container'>
				<div class='header'>
					<img
						src='https://via.placeholder.com/150x150'
						alt='Logo'
						title='Logo'
						style='display: inline'
						width='100%'
						height='60'
					/>
				</div>
				<div class='contents'>
					<h1>Verify Your Email</h1>
					<p>Hi {{name}},</p>
					<p>Click the button below to verify your email address.</p>
					<p class='btn__container'>
						<a class='btn' title='Verify Email' href='{{url}}'>Verify Email</a>
					</p>
					<p class='note'>
						If that doesn't work, copy and paste the following link in your
						browser:
						<br />
						<a class='link' title='Verify Email' href='{{url}}'>{{url}}</a>
					</p>
					<p>The App Team.</p>
				</div>
				<div class='footer'>
					You received this email because you are registered with App. This
					email was sent to
					{{email}}. If you no longer wish to receive these emails you may
					unsubscribe at any time.
					<br /><br />
					&copy; 2023 App. All rights reserved.
				</div>
			</div>
		</div>
	</body>
	<style>
		* { font-family: 'Aeonik', sans-serif; line-height: 25px; } .body {
		background-color: #f1edfd; } .container { height: 100%; max-width: 1024px;
		margin: 0 auto; padding: 30px 15px; } .header { width: 100%; text-align:
		center; margin-bottom: 15px; } .header img { object-fit: contain; }
		.contents { background-color: white; padding: 20px 20px; border-top: 3px
		solid #7047eb; border-bottom: 3px solid #c6b5f7; } .btn__container {
		text-align: center; margin: 25px 0; } .btn { display: inline-block;
		text-align: center; text-decoration: none; font-size: 16px; line-height:
		22px; color: #fff; background: #7047eb; padding: 8px 20px; border-radius:
		60px; border: 1px solid #7047eb; width: 258px; flex-shrink: 1; } .note {
		color: #6c757d; margin-bottom: 40px; } .link { color: #7047eb; } .footer {
		width: 100%; margin: 0 auto; margin-top: 30px; text-align: center; color:
		#6c757d; } @media (min-width: 552px) { .contents { padding: 20px 100px; }
		.btn__container { margin: 50px 0; } .footer { width: 80%; } }
	</style>
</html>